
<div class="card">
    <div class="card-header">
      <h3>{{album.title| uppercase}}</h3>
    </div>
    <div class="card-body">
      
        <div class="center">
          
          <div class="photo-container">
            <img src={{album.coverUrl}} alt={{album.title}}>
          </div>
            <br>
            
            <p [ngClass]="{'fecha': album.date}">Fecha de Release: {{album.date| titlecase}}</p>
            <p [ngClass]="{'ventas': album.ventas}"> Ventas: {{album.ventas| titlecase}}</p>
        </div>
        
      
    </div>
  </div>
  