.card{
  margin-bottom: .5rem;
  min-height: 128px;
}


.photo-container{
  display: flex;
  justify-content: center;
}

.artist-photo{
  max-height: 96px;
}

.card-footer{
  text-align: center;
}

.buttons-container{
  display: flex;
  justify-content: space-evenly;
}
.btn-dark:hover{
  background-color: rgb(68, 68, 68);
}

button{
  font-family:  'Open Sans', sans-serif;
  font-style: italic;
}

p{
  font-family: 'Open Sans', sans-serif;
  font-size: 120%;
}
