
<div class="card">
  <div class="card-header">
    <h3>{{artist.fullName|uppercase}}</h3>
  </div>
  <div class="card-body">
    <div class="photo-container">
      <img class="artist-photo" [src]="artist.photoUrl" [alt]="artist.fullName">
    </div>
    <br>
    <p class="text-center">Fecha de Nacimiento: {{artist.dateOfBirth | date: 'longDate'}}</p>

  </div>
  <div class="card-footer buttons-container">
    <button class="btn btn-dark" (click)="seeVideos()"><mat-icon>music_video</mat-icon> Videoclips</button>
    <button class="btn btn-dark" (click)="seeAlbums()"><mat-icon>library_music</mat-icon>Álbumes</button>
  </div>
</div>
