<div class="card">
    <div class="card-header">
      <h1>{{title}}</h1>
      <form>
        <div class="form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><mat-icon>search</mat-icon> </span>
          </div>
          <input type="email" class="form-control" [(ngModel)]="albumSearch" (ngModelChange)="searchAlbum()" placeholder="Buscar álbum" name="album">
        </div>
      </form>
      <br>
      <p class="bold">Mostrando {{albums.length}} de {{allAlbums.length}} resultados </p>
    </div>
    <div class="card-body">
      <div class="row">
        <div *ngFor="let album of albums" class="col-md-6">
          <app-album-card [album]="album"></app-album-card>
        </div>
        <app-no-results-found *ngIf="albums.length==0"></app-no-results-found>
      </div>
    </div>
  </div>

