<div class="card">
  <div class="card-header">
    <h1>Información del Proyecto</h1>
  </div>
  <div class="card-body text-center">
    <div class="card">
      <div class="card-body">
        <h2>Realizado por: Ariana  Yépez e Isaac Pilatuña</h2>
        <h2>Actividad 2 - 05MASW Frontend</h2>
        <h2>Profesor: Dr. Ismael de Fez Lava </h2>
      </div>
    </div>
    <br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/DtvzAAAq7-0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
